// Akrobat
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat-Regular'),
    url('../fonts/Akrobat-Regular.woff2') format('woff2'),
    url('../fonts/Akrobat-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat-ExtraBold'),
    url('../fonts/Akrobat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Akrobat-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: local('Akrobat-Black'),
    url('../fonts/Akrobat-Black.woff2') format('woff2'),
    url('../fonts/Akrobat-Black.woff') format('woff');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

// ProximaNova
@font-face {
  font-family: 'Proxima Nova';
  src: local('ProximaNova-Light'),
    url('../fonts/ProximaNova-Light.woff2') format('woff2'),
    url('../fonts/ProximaNova-Light.woff') format('woff');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('ProximaNova-Regular'),
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('ProximaNova-Bold'),
    url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
